body{
overflow-x:hidden;

}

.heading{
width:100%;
position:relative;

}

.header{
width:100%;
position:absolute;
text-align:center;
bottom:150;
color:white;
font-family:arial;
font-size:7vw;
letter-spacing:15px;
font-weight:bold
}

#img{opacity:0.5;
}

.tint{
background:black}
.header p{
font-size:20px;
letter-spacing:1}
.nj{
position:fixed;
font-weight:bold;
color:white;
font-family:arial;
left:0;
top:0;
padding:20px;
font-size:1.5em;

}
.content-heading{
color:#a07eb2;
font-weight:bold;
text-align:center;
font-size:20px;
font-family:Comic Sans Ms
}

.menu{
position:fixed;
font-weight:bold;
color:white;
font-family:arial;
right:0;
top:0;
padding:20px;
}

.menu a{
text-decoration:none;
color:white
}

#about-content article{

float:left;
text-align:justify;
position:inherit;
font-family:arial;
letter-spacing:1;
line-height:2;
color:#9a9a9a;
border-bottom:1px solid #dbdbdb;
padding-right:10
}
#about-content article:last-child{
border:none;
}
#content1{position:relative;
right:-1400;
transition:all 1s;
opacity:0}
#content1 article{
width:33.3%;
float:left;
padding:10;
box-sizing:border-box;
text-align:left;
font-family:arial;
letter-spacing:1;
line-height:2;
color:#9a9a9a;
position:relative;
border-right:1px solid #dbdbdb;
margin:50 0 50 0;
}

#content1 article:last-child{
border:none;
}
#content1 article:first-child .content-heading{
padding-bottom:40px;
}
#content1 article:last-child .content-heading{
padding-bottom:40px;
}
#content1 article:first-child  input[type=button]{
margin-top:32px}
#content1 article:nth-child(2) input[type=button]{
margin-top:32px}


#footer{
color:white;
background:#a07eb2;
float:left;
text-align:center;
width:100%;
padding:20px;
font-family:arial;
font-size:3vw;
box-sizing:border-box;


}
.container{
width:100%;


overflow-y:scroll;
height:83%
}
#Gallery-header{
background:#a07eb2;
color:white;
font-family:arial;
text-align:center;
padding:10;
font-size:7vw;
float:left;
width:100%;
box-sizing:border-box;
font-weight:bold;
height:130;
transition:all .5s

}

.preview{
float:left;
width:47%;
padding:20;
}

.thumb{
float:right;
width:50%;
padding-bottom:30;
margin-top:10
}

.thumb img{
padding:15;
cursor:pointer
}
input[type=button]{
background:#a07eb2;
width:25%;
color:white;
font-weight:bold;
padding:15px;
border:none;
font-size:1em;
cursor:pointer
}


#icon{
position:fixed;
font-weight:bold;
color:white;
font-family:arial;
left:20;

top:10;
cursor:pointer;
font-size:1.5em;
transition:padding-right .3s, padding-bottom .3s;
}
#close{
position:absolute;
top:0;
display:none}
#vikas{position:absolute;
margin-top:150;
font-family:comic sans ms;
background:#a07eb2;
font-size:1.5em;
box-shadow:10px 10px 5px black;
transition:left .1s;
left:-460;
}
#vikas a:last-child {
border:none;
}
#vikas a{text-decoration:none;
display:block;
color:white;
border-bottom:2px solid white;
padding:20;
margin:0 20
}
.animation{
background:white;
float:left;
width:100%;

}
#anim{
position:relative;
right:-1400;
transition:all 1s;
opacity:0}
#box {
    width: 100px;
    height: 100px;
    background: red;

    transition: width 2s, height 2s, transform 2s;
}


#a{width:8%;
position:absolute;
left:46%;
bottom:5%;
z-index:1
}
#b{
opacity:.5}
#contact{
position:absolute;
bottom:10%;
color:white;
font-weight:bold;
font-family:comic sans ms;
font-size:2vw}
